{% extends "base.html.twig" %}
{% block title %}My cool blog posts{% endblock %}
{% block body %}
 <form action="{{ path('processdata') }}" method="post" id="create-application-formv1" enctype="multipart/form-data" data-abide>

<p>Select the files to process, 1 or more, maximum of 19 files (depending on server settings)</p>
<p>On the next page, select all text and save in a text editor, like notepad, and save the file as .csv</p>
<p>When you open this file in Excel, all the measurements are there</p>
<fieldset>
        <legend>Files to upload</legend>

       
                <div class="box">
        
            <input id="fileupload-attachment" class='attachments' type="file" name="files-conf[]" data-url="/gumurrii-direct-entry/{{application.id|default(0)}}/upload/attachment/" multiple accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf" ></label>
                </div>
<div class="submit">
    <button type="submit" class="radius success" name="action" value="submut" id="submit">
    Submit</button>
  </div>
</fieldset>
</form>

{% endblock %}
